<h1>This is {{app_name}} application</h1>

{{#if app_managed}}
    <p>This application is registered to receive auth services.</p>
{{else}}
    <p>This application is not registered to receive auth services.</p>
{{/if}}

<p>{{app_managed.clientSecret}}</p>