<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="container">
            <a class="smavaLogo" href="/">
            </a>
            <h1>{{title}}</h1>
        </div>
    </header>
      <div class="container">
          <div class="main-content">
              {{{body}}}
          </div>
      </div>
  </body>
</html>
