html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Set Variables
 */
body {
    font-family: 'Arial', sans-serif;
  font-size: 14px;
  background-color: #f4f4f4;
  color: #444;
}
h1 {
  font-size: 20px;
  line-height: 1.8em;
}
a {
  color: #666;
}
header {
  padding: 20px 10px;
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
  background-color: #333;
}

header a.smavaLogo {
    background-image: url('/images/smava_logo_no_claim_nonretina.png');
}

header .smavaLogo {
    float: left;
}

header .smavaLogo {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 200px 53px;
    height: 53px;
    width: 210px;
    display: inline-block;
    vertical-align: middle;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.main-content {
  float: left;
  /*width: 70%;*/
  width: 100%;
}
.main-content p {
  margin-bottom: 20px;
}
.sidebar {
  float: right;
  width: 27%;
}
.sidebar .block {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px 10px 10px;
  background-color: #f4f4f4;
  overflow: hidden;
}
.sidebar .block h1 {
  margin: 13px 10px 4px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  margin-bottom: 10px;
}
p {
  line-height: 1.8;
}
.readmore {
  float: right;
}
.readmore a {
  color: #666;
}

.login-block {
  width: 320px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  border-top: 5px solid #ff656c;
  margin: 0 auto;
}

.login-block h1 {
  text-align: center;
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-block h3 {
  text-align: center;
  color: #000;
  margin-top: 0;
  margin-bottom: 20px;
}

.login-block input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 0 20px 0 50px;
  outline: none;
}

.login-block input#username {
  background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
  background-size: 16px 80px;
}

.login-block input#username:focus {
  background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
  background-size: 16px 80px;
}

.login-block input#password {
  background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
  background-size: 16px 80px;
}

.login-block input#password:focus {
  background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
  background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
  border: 1px solid #ff656c;
}

.login-block button {
  width: 100%;
  height: 40px;
  background: #ff656c;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #e15960;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.login-block button:hover {
  background: #ff7b81;
}

footer {
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  text-align: center;
  margin-top: 20px;
}
br {
  clear: both;
}
ul.featurelist {
  margin-bottom: 20px;
  display: block;
  overflow: auto;
}
ul.featurelist li {
  line-height: 2em;
  border-bottom: #ccc 1px dotted;
  float: left;
  width: 200px;
}
form.addUser input {
  margin-bottom: 15px;
  border: 1px #ccc solid;
  padding: 5px;
  height: 22px;
  width: 95%;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
form.addUser button {
  clear: both;
  display: block;
}
.userlistlink {
  clear: both;
  padding: 5px;
  background: #ccc;
  margin-bottom: 20px;
  display: block;
}
.userlistlink p {
  margin: 0;
  padding: 0;
}
th,
tr,
td {
  padding: 5px;
}
tr {
  border-bottom: 1px #ccc dashed;
  display: block;
}
td,
th {
  width: 100px;
  text-align: left;
}
@media (max-width: 568px) {
  header {
    text-align: center;
  }
  .main-content {
    float: none;
    width: 100%;
    clear: both;
    text-align: center;
  }
  .sidebar {
    float: none;
    width: 100%;
    clear: both;
    text-align: center;
  }
  .sidebar .block {
    margin: 0;
  }
  ul.featurelist li {
    line-height: 2em;
    border-bottom: #ccc 1px dotted;
    float: none;
    width: 100%;
  }
  footer {
    text-align: center;
  }
}
